# have android confi
CONFIG_ANDROID_LOG=y

# enable debug
#CONFIG_NO_STDOUT_DEBUG=y

# use legacy siren test
CONFIG_LEGACY_SIREN_TEST=y

# use FIFO priority
#CONFIG_USE_FIFO=y

# debug channel
#CONFIG_DEBUG_CHANNEL=y

CONFIG_BACKUP_FILE_PATH=/system/etc/blacksiren.json

CONFIG_STORE_FILE_PATH=/data/blacksiren/

CONFIG_REMOTE_CONFIG_HOSTNAME=config.open.rokid.com

CONFIG_REMOTE_CONFIG_FILE_URL=https://config.open.rokid.com/openconfig/blacksiren.json

#CONFIG_USE_AD1=y
