# have android confi
CONFIG_ANDROID_LOG=y

# enable debug
#CONFIG_NO_STDOUT_DEBUG=y

# use legacy siren test
CONFIG_LEGACY_SIREN_TEST=y

# use FIFO priority
#CONFIG_USE_FIFO=y

# debug channel
#CONFIG_DEBUG_CHANNEL=y

# debug recording mic array
#CONFIG_RECORDING_MIC_ARRAY=y
# debug processed voice data
#CONFIG_RECORDING_PROCESSED_DATA=y
# debug raw data
#CONFIC_RECORDING_RAW_VOICE_DATA=y

# recording path
#CONFIG_RECORDING_PATH=/data

CONFIG_BACKUP_FILE_PATH=/system/etc/blacksiren.json

CONFIG_STORE_FILE_PATH=/data/blacksiren/

CONFIG_REMOTE_CONFIG_FILE_URL=https://config.open.rokid.com/openconfig/blacksiren.json

CONFIG_MONITOR_UDP_PORT=65456
